<section class="section">

  <h3 class="section-header">About eggs-genny</h3>

  <p class="para">
    Started as a hobbyist project, I then started adding more and more features as time went on. I enjoy adding more to this because I envision it becoming quite the swiss army knife of project generators.
  </p>

  <hr class="line" />

  <h4 class="section-sub-header">Short-term</h4>

  <p class="para">
    Short term plans are to include more frameworks, more preprocessors, and more task-runner options. As well, I would like users to be able to name folders in the directory as they choose.
  </p>

  <h4 class="section-sub-header">Long-term</h4>

  <p class="para">
    In the longer term, I would like this to optionally generate actual web app skeletons, including commonly used items like headers and footers, complete with the HTML/CSS/JavaScript to go with it.
  </p>

</section>
