<section class="section">

  <h3 class="section-header">Dependencies</h3>

  <p class="para">
    The benefit of eggs-genny is that you get to decide what you need and have it all get hooked up for you, free of charge.
  </p>

  <p class="para">
    Now, when I, <a class="para-link" href="https://github.com/himynameisdave">@himynameisdave</a>, first wrote eggs-genny it was based on my own dependency needs. I feel like they are well suited to most web application developers, and there are many more on the way. The goal is for eggs-genny to be a robust, one-stop shop for all web applications. That will be achieved by properly scaffolding out a unique application that uses a wide array of different frameworks.
  </p>

  <hr class="line" />

  <p class="para">
    Currently, there are 4 main dependency branches:
  </p>

  <h4 class="section-sub-header header-link" data-ng-click="getOuttaHere(jquery)">jQuery</h4>

  <p class="para">
    Despite the fact that it's 2015 and you <a class="para-link" href="http://youmightnotneedjquery.com/">really shouldn't be using it</a>, <a class="para-link" href="http://jquery.com/">jQuery</a> it is still included as an option. Don't like it? Then don't check it.
  </p>

  <h4 class="section-sub-header header-link" data-ng-click="getOuttaHere(angular)">AngularJS</h4>

  <p class="para">
    Here's where you can see my dependency needs shining through. I really enjoy working with AngularJS, on large and small projects, despite what <a class="para-link" href="https://medium.com/@mnemon1ck/why-you-should-not-use-angularjs-1df5ddf6fc99">jackasses with accounts on Medium</a> might say. As with jQuery, if you don't want it, don't use it.
  </p>

  <h4 class="section-sub-header header-link" data-ng-click="getOuttaHere(bootstrap)">Bootstrap CSS</h4>

  <p class="para">
    I included <a class="para-link" href="http://getbootstrap.com/css/">Bootstrap</a>, but only the CSS because I find their JS components goofy &amp; bulky. Will the JS components be added, with some customization options? Probably not soon but hey if that's something you want added go ahead and make a PR.
  </p>

  <h4 class="section-sub-header header-link" data-ng-click="getOuttaHere(gsap)">GSAP</h4>

  <p class="para">
    Greensock Animation Platform, which is a sweet JavaScript-based animation framework. Super robust, and free to use (aside from some paid plugins), it gets a lot done and has a super simple API.
  </p>

</section>
