<section class="section">

  <h3 class="section-header">What the hell is an eggs-genny?</h3>

  <p class="para">
    <a href="https://github.com/himynameisdave/eggs-genny" class="para-link">eggs-genny</a> is the most poorly-named Yeoman generator in the history of Yeoman generators. It was invented to be a feature-rich, user friendly starting place for all web app projects big and small. Even if you have absolutely no idea how to use the command line or Yeoman, eggs-genny along with it's handy documentation should have you setting up your projects in a breeze.
  </p>

  <img class="img" src="http://31.media.tumblr.com/tumblr_m4jk26ikIN1qasthro1_400.gif" alt="eggies" />

  <h3 class="section-sub-header">WTF kind of name is eggs-genny?</h3>

  <p class="para">
    Yeah I know. Dumb name, great generator. The stupid name derives from a <a href="http://en.wikipedia.org/wiki/Pun" class="para-link">punny</a> line that I wrote when I initialized the repo:
  </p>

  <blockquote class="quote">
    An EGGS-ellent Yeoman GENNY-erator for building modern web apps.
  </blockquote>

  <p class="para">
    And it's stuck ever since!
  </p>

</section>