<section class="section">

  <h3 class="section-header">Planned Features</h3>

  <p class="para">
    Here's some ideas that could/should be added to eggs-genny. In no particular order:
    <ul class="list">
      <li>
        some Apple web app icons/template startup images. <a class="para-link" href="https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html">(source)</a>
      </li>
      <li>
        Bring in <a class="para-link" href="http://sass-lang.com/">SASS</a> as preprocessor option
      </li>
      <li>
        Bring in <a class="para-link" href="gruntjs.com">Grunt</a> as a task-runner option
      </li>
      <li>
        Bring in a <a class="para-link" href="http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/">pure-npm</a> task runner option
      </li>
      <li>
        Ask a few questions to configure the build process a little (such as which plugins/modules they want to use)
      </li>
      <li>
        Bring in <a class="para-link" href="http://coffeescript.org/">CoffeeScript</a> option
      </li>
      <li>
        Add a <code class="code">.sublime-project</code> file
      </li>
      <li>
        Bring in <a class="para-link" href="http://underscorejs.org/">underscore.js</a> as an option
      </li>
      <li>
        Bring in <a class="para-link" href="http://facebook.github.io/react/">ReactJS</a> as an option, and integrate it a little
      </li>
    </ul>
    I am super open to more ideas, bring it on, create an issue or a pull request or <a class="para-link" href="https://twitter.com/dave_lunny">tweet me</a> and we'll do it:
  </p>

  <img class="img" src="http://media3.giphy.com/media/qFNnOKIs6tBD2/200_s.gif" alt="doit" />


</section>
