<section class="section">

  <h3 class="section-header">Usage</h3>

  <p class="para">
    This section just overviews the choice of Gulp as a task runner, in addition to general how-tos and where-are-they's of using eggs-genny to build your projects.
  </p>

  <hr class="line" />

  <p class="para">
    A quick word on gulp: By default, eggs-genny uses <a class="para-link" href="http://gulpjs.com/">Gulp</a> as a task-runner (porting it to Grunt soon, as well as a pure <a class="para-link" href="http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/">npm-based</a> solution!). Gulp was chosen because of it's simplicity as well as it's 'one-plugin/one-thing' mentality. Once you use Gulp and wrangle the concept of <a class="para-link" href="https://github.com/gulpjs/gulp/blob/master/docs/recipes/running-tasks-in-series.md">task dependency</a> (i.e: Task B is dependent on Task A being done before it can start it's thing) it's super easy to get it to do whatever you want, synchronously or async. If you are a Grunt fan, help out the project by developing a Grunt build option (as I know more about Gulp than I do Grunt).
  </p>

</section>