<section class="section">

  <h3 class="section-header">What the f-word is Yeoman?</h3>

  <p class="para">
    So if you're new, then at this point you're probably like "What the f-word is Yeoman?" and are ready to table-flip some shit because the real web development world is changing so fast and there's always some new spiffy stupiddumbass thing to 'optimize your workflow'.
  </p>

  <img class="img" src="http://i.kinja-img.com/gawker-media/image/upload/s--VdVOfKQ4--/c_fit,fl_progressive,q_80,w_636/18k5j277jzqwlgif.gif" alt="table flip grrr pb-adventuretime" />

  <div class="img-quote">
    PB is sick of having to learn some new technology every 6 months.
  </div>

  <p class="para">
    Which is why I'm going to have to ask you, for two paragraphs, to shut your face and listen because this <a class="para-link" href="http://yeoman.io/">Yeoman</a> thing is actually just f-wording amazing &amp; will save you loads and loads of time in setting up your various projects.
  </p>

  <p class="para">
    First thing is: Do you use the command line? No? Use it. It's 2015. If you don't have <a class="para-link" href="http://nodejs.org/">node.js</a> installed on your system, then stop reading and go back to making your <a class="para-link" href="http://www.worlds-worst-website.com/">suuuuuper cooool websites</a> while we do this Yeoman thing.
  </p>

  <p class="para">
    Okay so wtf is Yeoman right? Well, you know how when you start a project there's a lot of setting stuff up and linking files to your index.html and making sure you have the most recently updated version of blah blah blah yadda yadda. Yeoman does all that shit for you. There are essentially a bunch of 'generators', eggs-genny being (the best) one of them, that ask you a few questions about your project, and then goes ahead and scaffolds the thing out (like puts all the folders and files in the right place with all the boilerplate crap you usually add to the files).
  </p>

  <p class="para">
    Okay so that's pretty neato right? But you're probably still like 'kay I'm not doing this if it's going to be a whole thing'. It's not a whole thing. It's super easy, I promise. In <a class="para-link" href="http://localhost:6969/generator-eggs-genny/src/index.html#/installation">the next section</a> we discuss how to install Yeoman and get shit cooking.
  </p>

  <img class="img" src="https://38.media.tumblr.com/a08397eb128ed79d185c4d5795cf83c9/tumblr_n2ln9mkMP21qduh7lo1_500.gif" alt="Wanna cook?"/>

</section>