
<section class="home-section">
  <div class="home-logo"></div>
  <div class="home-info">
    <h1 class="home-title">eggs-genny</h1>
    <h2 class="home-desc">Dumb name, great generator.</h2>
  </div>

  <p class="para home-lead">
    Welcome to eggs-genny, the most poorly named <a class="para-link" href="yeoman.io">Yeoman</a> generator on the planet. Check out the docs or the GitHub page for more info!
  </p>

  <a class="btn home-btn" href="https://github.com/himynameisdave/eggs-genny">
    View On GitHub
  </a>

  <button class="btn home-btn" ng-click="goToDocs()">
    View Docs
  </button>

  <a href="https://twitter.com/share" class="twitter-share-button btn home-btn" data-text="Check out this hilarious #Yeoman generator called 'eggs-genny':" data-via="dave_lunny" data-size="large" data-related="dave_lunny" data-count="none">Tweet It</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</section>
