<section class="section">

  <h3 class="section-header">What the hell is an eggs-genny?</h3>

  <p class="para">
    <a href="https://github.com/himynameisdave/eggs-genny" class="para-link">eggs-genny</a> is the most poorly-named Yeoman generator in the history of Yeoman generators. It was invented to be a feature-rich, user friendly starting place for all web app projects big and small. Even if you have absolutely no idea how to use the command line or Yeoman, eggs-genny along with it's handy documentation should have you setting up your projects in a breeze.
  </p>

  <img class="img img-small" src="img/logo.svg" alt="eggies" />

  <h4 class="section-sub-header">WTF kind of name is eggs-genny?</h4>

  <p class="para">
    Yeah I know. Dumb name, great generator. The stupid name derives from a <a href="http://en.wikipedia.org/wiki/Pun" class="para-link">punny</a> line that I wrote when I initialized the repo:
  </p>

  <blockquote class="quote">
    An EGGS-ellent Yeoman GENNY-erator for building modern web apps.
  </blockquote>

  <p class="para">
    And it's stuck ever since! Sure it may sound dumb, but you probably won't ever forget the name.
  </p>

  <h4 class="section-sub-header">Why don't I just use <a href="para-link">generator-webapp</a>?</h4>

  <p class="para">
    Well, in short, it's crappy. I mean sure it builds you out a web app that you can use as a starting point, but I find that the lack of options (there are only 3) didn't provide me with the customization I needed. And eggs-genny is <a href="https://github.com/yeoman/generator-gulp-webapp">is not the only</a> generator out there, but I hope that with my constant development it will become a swiss army knife for front-end developers.
  </p>

</section>