<!DOCTYPE HTML>
<% if (deps.angular) { %><html ng-app="app"><% }else { %><html><% } %>
<head>

	<title><%=appName%></title>
	<meta charset="UTF-8">

	<meta name="description" content="<%=appDesc%>">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!--Mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- build:css -->
	<% if (deps.bootstrap) { %><link href="lib/bootstrap.css" rel="stylesheet" />
	<% } %><link rel="stylesheet" type="text/css" href="css/style.css"	/>
<!-- endbuild -->
<!-- build:js -->
	<% if (deps.angular) { %><!--Angular-->
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router.js"></script>
	<% } if (deps.jquery) { %><!--jQuery-->
	<script type="text/javascript" src="lib/jquery.js"></script>
	<% } if (deps.gsap) { %><!-- GSAP -->
	<script type="text/javascript" src="lib/TweenMax.js"></script>
	<script type="text/javascript" src="lib/TimelineMax.js"></script>
	<script type="text/javascript" src="lib/CSSPlugin.js"></script>
	<script type="text/javascript" src="lib/EasePack.js"></script>
	<% } %><!--MAIN SRIPTS-->
	<script type="text/javascript" src="js/app.js"></script>
<!-- endbuild -->

</head><% if(deps.angular){ %>
<body ng-controller="Controller"><% }else { %><body><% } %>



	<!-- Unicorn Flight  -->



</body>
</html>
