<!DOCTYPE HTML>
<html>
<head>

	<title></title>
	<meta charset="UTF-8">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">


	<!--Mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Mobile - No Zooming-->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->


	<!--jQuery & Bootstrap-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


	<!--Main Script-->
	<script type="text/javascript" src="js/script.js"></script>


	<!--Styles-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css"	/>

</head>
<body>


</body>
</html>